<h1>APPOINTMENT BOOKING</h1>
<form method="POST" action="book">
    {% csrf_token %}
    <p>Enter name:</p>
    <input type="text" name="name" />
    <p>Enter doctor's name:</p>
    <input type="text" name="doctor" /><br>
    <p>Enter date of appointment:</p>
    <input type="text" name="date" /><br>
    <p>Enter start time of appointment:</p>
    <input type="text" name="time" /><br>
    <p>Enter required speciality:</p>
    <input type="text" name="speciality" /><br>
    <input type="submit" placeholder=""/>
</form>

<h3>Click <a href="login">here</a> to go back</h3>